/* start main rules */
body {
  font-size: 16px;
  background-color: #f4f4f4;
}
body a:hover {
  text-decoration: none;
}
h1 {
  margin: 22px 0px;
  font-size: 50px;
  color: #5d5b5b;
}
.upper-bar {
  padding: 5px;
}

/* .astrisk{
    font-size: 21px;
    color: #e02121;
    position: absolute;
    right: 31px;
    top: 38px;
} */

/* end main rules */

/* start Bootstrap edits */
.mr-px {
  margin-right: 70px;
}

/* .navbar-brand {
  margin-right: 5rem;
} */
/* 
.form-control {
  position: relative;
} */

/* end Bootstrap edits */

/* Start Front-Categories */
.container .ads .card {
  box-shadow: none;
  border-radius: 0px;
  width: 18rem;
}

/* End Front-Categories */

/* Start Login/register  Page */

.login-page,
.register-page {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-box,
.register-box {
  width: 360px;
  margin-top: 50px;
}

@media (max-width: 576px) {
  .login-box,
  .register-box {
    margin-top: 0.5rem;
    width: 90%;
  }
}
.login-box .card {
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}
.login-card-body,
.register-card-body {
  background: #ffffff;
  border-top: 0;
  color: #666;
  padding: 20px;
}

.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control {
  border-right: 0;
}

.login-card-body .input-group .form-control:focus,
.register-card-body .input-group .form-control:focus {
  box-shadow: none;
}

.login-card-body
  .input-group
  .form-control:focus
  ~ .input-group-append
  .input-group-text,
.register-card-body
  .input-group
  .form-control:focus
  ~ .input-group-append
  .input-group-text {
  border-color: #80bdff;
}

.login-card-body .input-group .form-control.is-valid:focus,
.register-card-body .input-group .form-control.is-valid:focus {
  box-shadow: none;
}

.login-card-body
  .input-group
  .form-control.is-valid
  ~ .input-group-append
  .input-group-text,
.register-card-body
  .input-group
  .form-control.is-valid
  ~ .input-group-append
  .input-group-text {
  border-color: #28a745;
}

.login-card-body .input-group .form-control.is-invalid:focus,
.register-card-body .input-group .form-control.is-invalid:focus {
  box-shadow: none;
}

.login-card-body
  .input-group
  .form-control.is-invalid
  ~ .input-group-append
  .input-group-text,
.register-card-body
  .input-group
  .form-control.is-invalid
  ~ .input-group-append
  .input-group-text {
  border-color: #dc3545;
}

.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
  background-color: transparent;
  border-bottom-right-radius: 0.25rem;
  border-left: 0;
  border-top-right-radius: 0.25rem;
  color: #777;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}

.social-auth-links {
  margin: 10px 0;
}

/* End Login/registert Page */
