/* start main rules */
body{
    font-size: 16px;
    background-color: #f4f4f4;

}


/* end main rules */



/* start login-form */
.login-form {
    width: 300px;
    margin: 100px auto;
}

.login-form h4{
    color: #737373;
}
.login-form input{
    margin-bottom: 5px;
}
.login-form .form-control{
    background-color: #eaeaea;
}

/* end login-form */

/* start Bootstrap edits */
.mr-px {
    margin-right: 70px;
}

.navbar-brand {
    margin-right: 5rem;
}

/* end Bootstrap edits */

/* start members page */
h1 {
    margin: 22px 0px;
    font-size: 50px;
    color: #5d5b5b;

}


/* end members page */