/* start main rules */
body {
  font-size: 16px;
  background-color: #f4f4f4;
}
body a:hover {
  text-decoration: none;
}

/* .astrisk{
    font-size: 21px;
    color: #e02121;
    position: absolute;
    right: 31px;
    top: 38px;
} */

/* end main rules */

/* start Bootstrap edits */
.mr-px {
  margin-right: 70px;
}

.navbar-brand {
  margin-right: 5rem;
}
/* 
.form-control {
  position: relative;
} */

/* end Bootstrap edits */


/* start login-form */
.login-form {
  width: 300px;
  margin: 100px auto;
}

.login-form h4 {
  color: #737373;
}
.login-form input {
  margin-bottom: 5px;
}
.login-form .form-control {
  background-color: #eaeaea;
}
/* end login-form */

/* Start dashboard page */
.home-stats .stat{
  font-size: 20px;
  padding: 10px;
  border-radius: 6px;
}
.home-stats span{
  display: block;
  font-size: 40px;
}

.home-stats .stat a{
  color: #212529;
}


.latest {
  margin-top: 20px;
  margin-bottom: 20px;
}


.card-header .card-tools {
  float: right;
  margin-right: -.625rem;
}

  .card-header .btn-tool {
    background: 0 0;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
  }




/* End dashboard page */



/* start members page */
h1 {
  margin: 22px 0px;
  font-size: 50px;
  color: #5d5b5b;
}

.show-pass {
  position: absolute;
  top: 43px;
  right: 25px;
  color: #717171;
}

.main-table{
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px #ccc;
}

.activate {
  margin-left: 5px;
}
/* end members page */
